---
import Section from "./Section.astro";
---

<Section
  title="Model X"
  subtitle="Programe una consulta virtual"
  color="black"
  id="modelx"
  decoration="underline"
>
  <div slot="footer" class="flex gap-x-6 mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block
           transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Pedido personalizado
    </a>
    <a
      class="text-black text-sm bg-white backdrop-blur-sm rounded font-medium px-12 py-2 inline-flex
          justify-center items-center hover:bg-black hover:transition-colors hover:text-white"
      href="#"
    >
      Saber mas
    </a>
  </div>

  <img
    slot="background"
    src="./model-x.avif"
    alt="model y"
    class="h-full w-full object-cover object-center bg-image"
  />
</Section>
